@import "../../../ui/reference/util/truncate";
@import "../../../ui/reference/animation";

.dropdown-list-item {
  display: flex;
  align-items: center;

  min-height: 40px;

  padding: 0 16px;

  cursor: default;

  transition: background-color $animation-duration $animation-function;
}

.dropdown-list-item--can-be-selected {
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: darken(white, 5%);
  }
}

.dropdown-list-item--is-focused {
  background-color: darken(white, 5%);
}

.dropdown-list-item--is-selected {
  background-color: var(--dropdown-selected-item-bg);
}

.dropdown-list-item--is-disabled {
  opacity: 0.7;

  &:hover,
  &.dropdown-list-item--is-focused {
    background-color: white;
  }
}

.dropdown-list-item__content {
  display: flex;
  align-items: center;

  min-width: 0;
}

.dropdown-list-item__title {
  @include truncate-line();

  font-size: 14px;
  line-height: 22px;
}

.dropdown-list-item__subtitle {
  @include truncate-line();

  margin-left: 8px;

  font-size: 12px;
  line-height: 18px;
}
