.typeahead-select__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  border: 1px solid var(--default-border-color);
  border-radius: var(--small-border-radius);
}

.typeahead-select__tag-list {
  position: relative;
  top: -8px;
  left: -8px;

  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 15px 15px 0;
}

.typeahead-select__tag-list__item {
  margin: 8px 0 0 8px;
}

.typeahead-select--can-select-multiple {
  .input {
    height: auto;
    min-height: 45px;

    flex: 1;

    border: none;

    &:focus {
      border: none;
    }
  }
}

.typeahead-select--is-dropdown-menu-open {
  .typeahead-select__input {
    position: relative;
    z-index: 1;
  }
}

.typeahead-select.dropdown--is-disabled {
  .typeahead-select__tag-list {
    width: 100%;
  }
}

.typeahead-select__input {
  width: unset;
  flex: auto;
}
