.typeahead-select {
  width: 100%;
}

.typeahead-select--can-select-multiple {
  .input {
    height: auto;
    min-height: 45px;

    flex: 1;

    border: none;

    &:focus {
      border: none;
    }
  }
}

.typeahead-select--is-dropdown-menu-open {
  .typeahead-select__input {
    position: relative;
  }
}

.typeahead-select__input {
  width: unset;
  flex: auto;

  .input {
    padding-left: 8px; // align with tags horizontally
  }
}
