@import "../ui/reference/animation";
@import "../ui/reference/util/truncate";

.tag-container {
  display: flex;
  align-items: center;

  width: auto;
  min-width: 0;
  height: 100%;

  padding: 3px 10px;

  color: var(--text-color);

  background-color: var(--tag-bg);
  border-radius: var(--small-border-radius);

  &.button {
    border: none;
    border-radius: var(--small-border-radius);
  }

  svg {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;

    margin-left: 10px;

    background-color: transparent;
    border: none;

    path {
      transition: stroke $animation-duration $animation-function;
    }

    &:hover {
      path {
        stroke: var(--text-color);
      }
    }
  }
}

.tag-body {
  @include truncate-line(calc(100% - 16px));

  overflow: hidden;
}
