@import "../ui/reference/animation";
@import "../ui/reference/util/truncate";

.tag {
  /* stylelint-disable color-no-hex */
  --tag-bg: #ebebeb;
  /* stylelint-enable color-no-hex */

  display: flex;
  align-items: center;

  width: auto;
  min-width: 0;
  height: 100%;

  padding: 3px 10px;

  color: var(--text-color);

  background-color: var(--tag-bg);
  border: none;
  border-radius: var(--small-border-radius);
}

.tag--is-removable {
  &:hover {
    path {
      stroke: var(--text-color);
    }
  }
}

.tag__close-icon {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;

  margin-left: 10px;

  path {
    transition: stroke $animation-duration $animation-function;
  }
}

.tag__body {
  @include truncate-line(calc(100% - 16px));

  overflow: hidden;
}
