.input-container {
  --input-height: 48px;

  display: flex;
  align-items: center;

  width: 100%;
}

.input-container__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: var(--input-height);
}

.input {
  height: var(--input-height);

  flex: 1;

  padding: 0 14px;

  color: var(--text-color);

  border: 1px solid var(--default-border-color);
  border-radius: var(--small-radius-size);

  &::placeholder {
    color: var(--placeholder-text-color);
  }

  &:focus {
    outline: none;
  }
}

.input-container--has-error {
  border: 1px solid var(--invalid-text-color);
}
