.input-container {
  display: flex;
  align-items: center;

  width: 100%;

  .input-container-left-icon,
  .input-container-right-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: var(--input-height);
  }
}

.input {
  height: var(--input-height);

  flex: 1;

  padding: 0 14px;

  color: var(--text-color);

  border: var(--input-border-width) solid var(--default-border-color);
  border-radius: var(--small-radius-size);

  &::placeholder {
    color: var(--placeholder-text-color);
  }

  &:focus {
    outline: none;
  }

  &.has-error {
    border: var(--input-border-width) solid var(--invalid-text-color);
  }
}
