.accordion__item {
  border-bottom: 1px solid var(--default-border-color);

  &:last-child {
    border-bottom: none;
  }
}

.accordion__header {
  --accordion-header-bg: rgba(247, 247, 247, 1);
  --accordion-header-padding: 12px 16px;

  padding: var(--accordion-header-padding);

  background-color: var(--accordion-header-bg);

  cursor: pointer;
}

.accordion__content-wrap {
  overflow: hidden;

  visibility: visible;

  transition: height 0.5s ease, visibility 0.5s ease;
}

.accordion__content-wrap--is-collapsed {
  visibility: hidden;
}

.accordion__content {
  --accordion-content-padding: 12px 16px;

  padding: var(--accordion-content-padding);
}

.accordion__header-icon {
  display: inline-block;

  vertical-align: middle;

  margin-right: 6px;

  transform: rotateZ(0deg);
  transition: transform 0.5s ease;

  &--is-open {
    transform: rotateZ(180deg);
  }
}
