@import "../ui/reference/_colors.scss";
@import "../ui/reference/_measurement.scss";
@import "../ui/reference/util/_truncate.scss";

$dropdown-header-horizontal-padding: 8px;

.dropdown-container {
  position: relative;

  &.has-header-box-shadow {
    .dropdown-header-button {
      box-shadow: var(--default-box-shadow);
    }
  }

  &.disabled {
    pointer-events: none;

    .dropdown-header-button {
      background-color: var(--dropdown-header-button-bg);
      box-shadow: none;

      cursor: not-allowed;
    }

    .dropdown-header-button-text {
      opacity: 0.7;
    }

    &.option-selected {
      svg {
        display: none;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.dropdown-header-button {
  width: 100%;
  height: var(--dropdown-header-button-height);

  background-color: white;
  border: var(--dropdown-header-button-border-width) solid var(--default-border-color);
  border-radius: var(--small-border-radius);

  &:focus {
    outline: none;
  }
}

.dropdown-header-button-text {
  @include truncate-line(calc(100% - #{$dropdown-header-horizontal-padding}));

  flex: 1;

  color: var(--dropdown-text-color);

  text-align: left;
}

.dropdown-header-button-default-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex: 1;

  padding: 0 $dropdown-header-horizontal-padding;

  svg {
    margin-bottom: 1px;
  }
}

.dropdown-label {
  margin-bottom: 5px;
}
