@import "../ui/reference/util/truncate";

$dropdown-header-horizontal-padding: 8px;

.dropdown {
  position: relative;

  &:focus {
    outline: none;
  }
}

.dropdown--is-disabled {
  pointer-events: none;

  .dropdown__header-button--has-header-box-shadow {
    box-shadow: none;
  }
}

.dropdown--has-selected-option {
  svg {
    display: none;
  }
}

.dropdown__header-button {
  /* stylelint-disable color-no-hex */
  --button-bg: #ebebeb;
  --border: 1px solid var(--default-border-color);
  --dropdown-text-color: black;
  --dropdown-selected-item-bg: #ebebeb;
  /* stylelint-enable color-no-hex */

  border: var(--border);
  border-radius: var(--small-border-radius);

  &:focus {
    outline: none;
  }
}

.dropdown__header-button--has-header-box-shadow {
  box-shadow: var(--default-box-shadow);
}

.dropdown__header-button__text {
  @include truncate-line();

  flex: 1;

  color: var(--dropdown-text-color);

  text-align: left;
}

.dropdown__header-button__default-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex: 1;

  padding: 0 $dropdown-header-horizontal-padding;

  svg {
    margin: 0 0 1px 8px;
  }

  .spinner {
    margin-left: 8px;
  }
}
