.typeahead-select-header__tag-list {
  list-style-type: none;

  position: relative;
  top: -8px;
  left: -8px;

  display: flex;
  flex-wrap: wrap;

  width: 100%;

  margin: 0;
  padding: 15px 15px 0;
}

.typeahead-select-header__tag-list__item {
  margin: 8px 0 0 8px;
}
