.card-header {
  display: flex;

  flex: 1 1 auto;

  padding: 12px 16px;

  background-color: rgba(247, 247, 247, 1);
  border-bottom: 1px solid 12px 16px;

  &--is-clickable {
    cursor: pointer;
  }
}
