/* stylelint-disable color-no-hex */

:root {
  // Defaults
  --text-color: black;
  --invalid-text-color: #a43030;
  --placeholder-text-color: #757575;
  --disabled-text-color: #6c6e76;
  --default-border-color: #ebebeb;
  --default-box-shadow: 0 0 5px #ebebeb;
}

/* stylelint-enable color-no-hex */
