/* stylelint-disable color-no-hex */
$black: black;
$dark-grey: #484848;
$grey: #757575;
$light-grey: #EBEBEB;

$red: #A43030;

$default-box-shadow: 0 0 5px $light-grey;

/* stylelint-enable color-no-hex */
