:root {
  // Button
  --button-width: 150px;
  --button-height: 35px;
  --small-button-width: 100px;
  --small-button-height: 25px;

  // Input
  --input-height: 45px;

  // Dropdown
  --dropdown-header-button-height: 40px;
  --dropdown-header-button-border-width: 1px;

  // Defaults
  --small-radius-size: 2px;
}
