.time-select {
  position: relative;

  .input {
    padding-right: 36px;

    border-radius: var(--default-border-radius);
  }

  .dropdown__header-button {
    width: max-content;
    height: max-content;

    padding: unset;
    
    border: unset;
  }
}
