@import "../../ui/reference/_colors.scss";
@import "../../ui/reference/_measurement.scss";

.dropdown-list {
  width: 100%;

  box-sizing: border-box;

  padding: 0;

  background-color: white;
  border: 1px solid var(--default-border-color);
  border-radius: var(--small-radius-size);
}

.dropdown-empty-message {
  padding: 0 15px;
}
