.dropdown-list {
  position: absolute;
  z-index: 1;

  width: 100%;
  max-height: 320px;

  box-sizing: border-box;
  overflow: auto;

  padding: 0;

  background-color: white;
  border: 1px solid var(--default-border-color);
  border-radius: var(--small-radius-size);
  visibility: hidden;
  opacity: 0;

  &.top {
    top: 0;

    transform: translateY(-100%);
  }

  &.bottom {
    bottom: -15px;

    transform: translateY(100%);
  }

  &.left {
    top: 0;
    left: 0;

    transform: translate(-100%, -50%);
  }

  &.right {
    top: 0;
    right: 0;

    transform: translate(100%, -50%);
  }
}

.dropdown-list--is-visible {
  visibility: visible;
  opacity: 1;
}

.dropdown-empty-message {
  padding: 0 15px;
}
