.toggle-item {
  --toggle-active-bg: white;
  --toggle-active-color: darkgray;
  --toggle-inactive-bg: black;
  --toggle-inactive-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: var(--toggle-inactive-color);
  background-color: var(--toggle-inactive-bg);

  &--is-selected {
    color: var(--toggle-active-color);
    background-color: var(--toggle-active-bg);
  }

  &--is-disabled {
    background-color: gray;

    pointer-events: none;
  }
}
