.select-trigger {
  --select-trigger-height: 48px;
  --select-trigger-bg: white;
  --select-trigger-color: black;
  --select-trigger-border-radius: 6px;
  --button-bg: var(--select-trigger-bg);
  --button-height: auto;
  --button-color: var(--select-trigger-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  min-height: var(--select-trigger-height);

  padding: 16px;

  /* stylelint-disable-next-line color-no-hex */
  border: 1px solid #dfe3ef;
  border-radius: var(--select-trigger-border-radius);

  &:focus {
    /* stylelint-disable-next-line color-no-hex */
    border: 1px solid #6c6e76;
  }
}
