.select-trigger {
  --button-bg: white;
  --button-height: 48px;
  --button-color: black;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border: 1px solid #dfe3ef;

  border-radius: 6px;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
