.dropdown-story-container {
  max-width: 350px;
}

.dropdown-header {
  margin-left: 16px;
  
  color: black;
}

.circle {
  display: inline-block;

  width: 8px;
  height: 8px;

  background-color: blue;
  border-radius: 50%;
}

.coin-dropdown-option-custom-content {
  display: grid;
  grid-template-columns: 26px 52px 120px 34px;
  gap: 18px;

  span {
    margin-top: 5px;
  }

  small {
    margin-top: 7px;
  }
}

.dropdown-context-icon {
  width: 48px;
  height: 48px;

  margin-right: 16px;
}
