.button {
  display: block;

  width: var(--button-width);
  height: var(--button-height);

  color: var(--button-color);
  background-color: var(--button-bg);

  border: none;
  border-radius: var(--small-radius-size);
  outline: none;

  cursor: pointer;

  .spinner-background {
    background: var(--button-bg);
  }

  &:focus {
    box-shadow: var(--default-box-shadow);
  }

  &:disabled {
    opacity: 0.5;

    cursor: not-allowed;
  }

  &.size-small {
    width: var(--small-button-width);
    height: var(--small-button-height);

    font-size: 12px;

    .spinner {
      width: 15px;
      height: 15px;
    }
  }
}
