.button {
  --button-width: max-content;
  --button-height: 35px;
  --button-bg: black;
  --button-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--button-width);
  height: var(--button-height);

  color: var(--button-color);
  background-color: var(--button-bg);

  border: none;
  border-radius: var(--small-radius-size);
  outline: none;

  cursor: pointer;

  &:focus {
    box-shadow: var(--default-box-shadow);
  }
}

.button--is-inactive {
  opacity: 0.5;

  cursor: not-allowed;
}

.button__spinner {
  position: absolute;
  
  .spinner__background {
    background: var(--button-bg);
  }
}

.button__children {
  &--is-hidden {
    visibility: hidden;
  }
}
