.toast {
  --toast-danger-text-color: white;
  --toast-danger-bg: red;

  --toast-warning-text-color: white;
  --toast-warning-bg: orange;

  --toast-success-text-color: white;
  --toast-success-bg: green;

  position: fixed;
  bottom: 0;
  z-index: 2;

  width: 100vw;

  padding: 17px 0;

  text-align: center;

  &--danger {
    color: var(--toast-danger-text-color);
    background-color: var(--toast-danger-bg);
  }

  &--warning {
    color: var(--toast-warning-text-color);
    background-color: var(--toast-warning-bg);
  }

  &--success {
    color: var(--toast-success-text-color);
    background-color: var(--toast-success-bg);
  }
}
