.typeahead-select-trigger {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  padding: 0;

  .typeahead-select__input {
    .input {
      border: none;
      border-radius: 8px;
    }
  }
}

.typeahead-select-trigger__tag-list {
  list-style-type: none;

  position: relative;

  display: flex;
  flex-wrap: wrap;

  width: 100%;

  margin: 8px;
  padding: 0;
}

.typeahead-select-trigger__tag-list__item {
  margin: 8px 0 0 8px;
}
