.file-input {
  position: absolute;
  z-index: -1;

  width: 0.1px;
  height: 0.1px;

  overflow: hidden;

  opacity: 0;

  &:focus + .file-input__label {
    box-shadow: var(--default-box-shadow);
  }

  & + .file-input__label--is-disabled {
    opacity: 0.5;

    cursor: not-allowed;
  }
}

.file-input__label {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 8px;
  
  cursor: pointer;
}

.file-input__spinner {
  margin: 0 0 0 16px;

  .spinner__background {
    background-color: var(--button-bg);
  }
}
