@import "../../../ui/reference/colors";
@import "../../../ui/reference/measurement";

.file-input {
  position: absolute;
  z-index: -1;

  width: 0.1px;
  height: 0.1px;

  overflow: hidden;

  opacity: 0;

  &:focus + .file-input-label {
    box-shadow: var(--default-box-shadow);
  }

  & + .file-input-label.disabled {
    cursor: not-allowed;
  }
}

.file-input-label {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
