.password-input {
  position: relative;

  .input-container-right-icon {
    position: absolute;
    top: 0;
    right: 0;

    height: 48px;
  }

  &__icon--is-visible {
    display: inline-block;
  }
}
