.password-input {
  position: relative;

  .input-container__right-icon {
    position: absolute;
    top: 0;
    right: 0;

    height: 48px;
  }
}

.password-input__icon--is-visible {
  display: inline-block;
}
