@import "../../ui/reference/colors";

.form-field {
  margin-bottom: 25px;
  
  .form-field-label {
    display: block;

    margin-bottom: 8px;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
