@import "../../ui/reference/colors";

.form-field {
  margin-bottom: 25px;

  .form-field-label {
    display: block;
  }

  .form-field-label-text {
    display: block;

    margin-bottom: 8px;
  }
}
