@import "../../../ui/reference/_colors.scss";
@import "../../../ui/reference/_measurement.scss";
@import "../../../ui/reference/_animation.scss";

.checkbox-input-label {
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 10px;

  cursor: pointer;
  user-select: none;

  font-size: 16px;

  &.disabled {
    opacity: 0.5;

    cursor: not-allowed;
  }
}

.checkbox-input {
  position: absolute;

  width: 0;
  height: 0;

  opacity: 0;

  cursor: pointer;

  &:focus {
    & ~ .checkbox-input-icon-wrapper {
      border-color: var(--checkbox-focus-border-color);
    }
  }

  &:checked {
    & ~ .checkbox-input-icon-wrapper {
      background-color: var(--checkbox-focus-bg);
      border-color: var(--checkbox-focus-border-color);

      svg {
        display: block;

        path {
          fill: var(--checkbox-icon-color);
        }
      }
    }
  }

  &:disabled {
    & ~ .checkbox-input-icon-wrapper {
      pointer-events: none;
    }
  }
}

.checkbox-input-icon-wrapper {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;

  flex-shrink: 0;

  margin-right: 10px;

  border: 1px solid var(--checkbox-border-color);
  border-radius: var(--small-radius-size);

  transition: border-color $animation-duration $animation-function;
}

.checkbox-input-icon {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  box-sizing: border-box;

  svg {
    display: none;
  }
}
