@import "../../../ui/reference/animation";

.checkbox-input-label {
  --checkbox-border-color: black;
  --checkbox-focus-border-color: black;
  --checkbox-focus-bg: black;
  --checkbox-icon-color: white;

  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 10px;

  cursor: pointer;
  user-select: none;

  font-size: 16px;
}

.checkbox-input-label--is-selected {
  .checkbox-input-label__icon {
    background-color: var(--checkbox-focus-bg);
    border-color: var(--checkbox-focus-border-color);

    svg {
      display: block;

      path {
        fill: var(--checkbox-icon-color);
      }
    }
  }
}

.checkbox-input-label--is-disabled {
  opacity: 0.5;

  cursor: not-allowed;
}

.checkbox-input {
  position: absolute;

  width: 0;
  height: 0;

  opacity: 0;

  cursor: pointer;

  &:focus {
    & ~ .checkbox-input-label__icon {
      border-color: var(--checkbox-focus-border-color);
    }
  }

  &:disabled {
    & ~ .checkbox-input-label__icon {
      pointer-events: none;
    }
  }
}

.checkbox-input-label__icon {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  flex-shrink: 0;

  margin-right: 10px;

  border: 1px solid var(--checkbox-border-color);
  border-radius: var(--small-radius-size);

  transition: border-color $animation-duration $animation-function;
}
