.toast {
  --toast-danger-text-color: white;
  --toast-danger-bg: red;

  --toast-warning-text-color: white;
  --toast-warning-bg: orange;

  --toast-success-text-color: white;
  --toast-success-bg: yellowgreen;

  --toast-info-text-color: white;
  --toast-info-bg: darkcyan;

  --toast-height: 20px;
  --toast-margin-bottom: 10px;
  --toast-margin-top: 10px;
  --toast-z-index: 2;

  z-index: var(--toast-z-index);
  
  width: var(--toast-width);
  height: var(--toast-height);

  padding: 17px 0;

  text-align: center;

  &--error {
    color: var(--toast-danger-text-color);
    background-color: var(--toast-danger-bg);
  }

  &--warning {
    color: var(--toast-warning-text-color);
    background-color: var(--toast-warning-bg);
  }

  &--success {
    color: var(--toast-success-text-color);
    background-color: var(--toast-success-bg);
  }

  &--info {
    color: var(--toast-info-text-color);
    background-color: var(--toast-info-bg);
  }

  &__close-button {
    position: absolute;
    bottom: 36px;
    
    &.button {
      width: 36px;

      background-color: transparent;
    }
  }
}

.toast-button-group {
  display: flex;
  justify-content: space-between;

  width: 400px;
}
