@import "../ui/reference/animation";

.list {
  .list-item-placeholder {
    animation: opacityAnimation $slow-animation-duration infinite;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
